body {
    /* background-image: url("https://www.muralswallpaper.com/app/uploads/scientific-chalkboard-childrens-plain-820x532.jpg"); */
    background-color: rgb(104, 163, 202);
    font: bold; color: #e24e42;
    font-family: 'Londrina Solid', cursive;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2em;
}

#thechalkboard {
    background-image: url("https://st2.depositphotos.com/3316741/10258/i/950/depositphotos_102585688-stock-photo-floral-card-with-pink-flowers.jpg");
    background-size: 75%;
    align-items: center;
    border: solid 5px;
    border-radius: 25px; 
    margin-top: 25px;
}

html body {
    /* background-image: url("https://i.pinimg.com/originals/7f/22/bd/7f22bd1107b49b5eac20ce21b80d6489.jpg") */
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/093/696/original/vector-yellow-abstract-background.jpg")
}

#centered {
    text-align: center;
}
button{
    margin-top: 5px;
    border-radius: 15px;
}
#activity{
    background-color: #008f95;
    color: #eb3e80;
    padding: 5px;
    border: solid 5px;
    border-radius: 25px; 
    text-align: center;
}
div.card{
    border: solid 5px;
    border-radius: 25px; 
    background-color: 
}